body{
    /* Establece el fondo con un degradado sutil en el body */
    background-color: #f3f4f6; /* Color de fondo gris claro */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
    margin: 0;
}

.contenedor-tarjeta{
    /* Estilo de la tarjeta principal con degradado azul a blanco */
    max-width: 50%;
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    background-color: white;
}

.cabecera-logo{
    /* Estilo del logo y el texto de la cabecera */
    background-image: linear-gradient(to right, #0043a7 0%, #0d67a3 100%);
    padding: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
}
        
.cabecera-logo img{
    /* Estilo de la imagen del logo */
    width: 250px;
    height: 80px;
    margin-right: 1rem; /* Espacio entre el logo y el texto */
    margin-bottom: 0.5rem;
}

.cabecera-logo h1{
    /* Estilo del texto del logo */
    font-size: 1.25rem;
    font-weight: 700;
}

.contenido-principal{
    padding: 20px;
    background-color: #f9fafb;
}

.titulo-bienvenida{
    /* Estilo para el mensaje de bienvenida */
    font-size: 30px; 
    text-align: center;
    background: linear-gradient(to right, #0043a7 0%, #0d67a3 100%);
    color: rgb(230, 233, 241);
    min-width: 600px;
    margin-top: 1rem; 
    margin-bottom: 1.5rem; 
    border-radius: 2rem;
}

.rejilla-botones{
    /* Contenedor de los botones */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.boton-accion{
    /* Estilo de los botones de acción */
    padding: 0.75rem 3rem;
    border-radius: 9999px; /* Botón completamente redondo */
    color: rgb(230, 233, 241);
    font-weight: 600;
    font-size: 1.125rem;
    background-image: linear-gradient(to right, #0043a7 0%, #0d67a3 100%);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.boton-accion:hover{
    /* Efecto hover en los botones */
    transform: translateY(-2px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
}