body{
    background-color: #f3f4f6;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
    margin: 0;
}

.contenedor-tarjeta{
    max-width: 900px;
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    background-color: white;
}
/* Estilo del logo y el texto de la cabecera */
.cabecera-logo{
    background-image: linear-gradient(to right, #0043a7 0%, #0d67a3 100%);
    padding: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
        
.cabecera-logo img{
    /* Estilo de la imagen del logo */
    width: 250px;
    height: 80px;
    margin-right: 1rem; /* Espacio entre el logo y el texto */
    margin-bottom: 0.5rem;
}

.cabecera-logo h1{
    font-size: 1.25rem;
    font-weight: 700;
}

.contenido-principal{
    padding: 20px;
    background-color: #f9fafb;
}

.titulo-persona{
    font-size: 1.5rem;
    text-align: center;
    background: linear-gradient(to right, #0043a7 0%, #0d67a3 100%);
    color: rgb(230, 233, 241);
    min-width: 600px;
    margin-top: 1rem; 
    margin-bottom: 1.5rem; 
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 3rem;
    text-transform: uppercase;
    font-weight: 700;
}

.rejilla-botones{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

.boton-accion{
    padding: 0.4rem 1.2rem;
    border-radius: 9999px;
    color: rgb(230, 233, 241);
    font-weight: 600;
    font-size: 0.95rem;
    background-image: linear-gradient(to right, #0043a7 0%, #0d67a3 100%);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.boton-accion:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

/* Estilos de la tabla */
.contenedor-tabla{
    width: 100%;
    overflow-x: auto;
    border-radius: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}
.tabla-centrada th,
.tabla-centrada td {
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    background: linear-gradient(to right, #0043a7 0%, #0d67a3 100%);
    color: white;
}

th, td{
    padding: 0.75rem;
    text-align: left;
    white-space: nowrap;
}

th{
    font-weight: 600;
}

tbody tr:nth-child(even) {
    background-color: #f3f4f6;
}

tbody tr:hover{
    background-color: #e5e7eb;
}

.acciones-tabla{
    display: flex;
    gap: 0.5rem;
}

.boton-accion-tabla{
    color: #4b5563;
    transition: color 0.2s ease;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold
}

.boton-accion-tabla:hover{
    color: #0043a7;
}

.icono-tabla{
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
}